<h1 style="text-align:center"> 글쓰기 </h1>
<form action="/create">
    <p>작성자 :</p>
    <input type="text" name="username">
    <p>제목 :</p>
    <input type="text" name="title">
    <p>내용</p>
    <textarea name="content" cols="30" rows="10"></textarea><br>
    <input type="submit" value="저장">
</form>

