<!-- index.html.erb -->
<h1>여기는 INDEX 입니다.</h1>
<table class="table table-hover text-center">
  <thead>
    <tr>
      <th width="15%">글번호</th>
      <th>제목</th>
    </tr>
  </thead>
  <tbody>
    <% @boards.each do |board| %>
    <tr class="board" data-value="<%= board.id %>">
      <td><%= board.id %></td>
      <td class="title" data-id= "<%=board.id%>"><%= board.title %></td>
    </tr>
    <% end %>
  </tbody>
  
</table>

<a href="/boards/new" class="btn btn-warning">새글쓰기</a>
<button type="button" class="btn btn-info change-title">제목바꾸기</button>
<button type="button" class="btn btn-danger color-btn" data-class="text-danger">빨강</button>
<button type="button" class="btn btn-info color-btn" data-class="text-primary">파랑</button>
<button type="button" class="btn btn-success color-btn" data-class="text-success">초록</button>
<script>
  $(document).ready(function(){
    var btn = $('.change-title');
    btn.on('click',function(){
      alert("버튼 누름!");

      var str = prompt("제목을 뭘로 바꿀까?");
      $('.title').text(str);

    });

    $('.color-btn').on('mouseover',function(){
      var textStyle = $(this).data("class");
      $('.table').toggleClass(textStyle);        
    });

    $('.color-btn').on('mouseleave',function(){
      var textStyle = $(this).attr("data-class");
      $('.table').toggleClass($(this).data("class"));        
    });

    $('.title').on('click',function(){
      var link_to_post = "/boards/";
      var move_to = link_to_post+($(this).data("id"));
      location.href = move_to;
    });

  });
</script>

<!-- <script src="./title.js"></script> -->
<!-- <script src="./text-color.js"></script> -->
