<h1><%= @board.title %></h1>
<p><%= @board.contents %></p>

<button type="button" class="btn btn-info color-btn" id="like_it">좋아요(
<span id = "like-count"><%= @like.count %></span> )
</button>
<a href="/">홈으로</a>

<form id="comment-form">
    <input type="text" name="form-control" id="comment">
    <button type="button" class="btn btn-waring">댓글달기</button>
</form>

<script>
    $(document).ready(function(){
        $('#like_it').on('click',function(){
            $(this).toggleClass('btn-danger');
            $.ajax({
                url:'/boards/<%=@board.id%>/like',
                method:'POST'
            });
        });
    });
</script>
