<h3>글이 저장되었습니다 !!!</h3>

글 제목 : <input type="text" name="title" value = <%= @title %> disabled>
<br><br><br>
글 내용 : <br> 
<textarea name="contain" cols="30" rows="10" disabled><%= @contain %></textarea>
<br><br>

<a href="/post"><input type="button" value="메인화면"></a>