<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>글 확인</title>
    <style>
        h{
            font-family: "verdana"
        }
        
        p {
            font-family: "sans-serif"
        }
    </style>
</head>

<body>
    <h2>글 목록 확인</h2>
    <p>제목 : <%= @title %> <br> </p>
    <p>내용 : <%= @content %> <br> </p>
    <a href="/"> <input type="button" value="홈"> </a>
</body>
</html>