<h1 style = "text-align:center">라밥의 홈페이지 입니다</h1>

<a href="/lunch"> 점심 메뉴 추천 </a> <br>
신이 나를 만들 때 
<form action="/god_make">
    <input type="text" name="name">
    <input type="submit" value="확인!">
</form>
당신과 어울리는 것은
<form action="/youre">
    <input type="text" name="name">
    <input type="submit" value="확인!">
</form>
내일 당신은
<form action="/my_rand">
    <input type="text" name="name">
    <input type="submit" value="확인!">
</form>